<h1>Shouts Menu</h1>
<h3>Type to search by department:</h3>
        <div class="form-group">
          <input #term type="text" (keyup)="search(term.value)" class="form-control" placeholder="Search by Department">
        </div>
  <hr>
  <div *ngIf="term.value">
  <div id="shouts" *ngFor="let shout of items; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" class="posted" (click)="showDetails(shout)">
            <h4>{{shout.title}}</h4>
      <h5 class="pull-left">{{shout.departmento}}</h5><span class="glyphicon glyphicon-chevron-up pull-right"> {{shout.rating}} </span>
    </div>
  </div>