div {
    display: block;
    margin-left: 0.2%;
    margin-right: 0.2%;
}
h1, h4, h5 {
    margin-top: 1em;
    margin-left: 1em;
}

.odd { 
    background-color: #f2f9ff;
}

.odd:hover{
    background-color: lightgray;
}

.even {
    background-color: #eceff3;
}

.even:hover{
    background-color: lightgray;
}
/*h4 {
    height: 2em;
}*/

#shouts {
    min-height: 6em;
    cursor: pointer;
}

li:hover {
    cursor: pointer;
}

span {
    margin-right: 1em;
}

input {
    width: 50%;
    margin: auto;
}

h3 {
    background: none;
    margin-left: 12.5em;
}

.row {
    margin-left: 15em;
}

ul {
    height: 250px;
    overflow-y: scroll;
}