.form-comment{
    padding-top: 3%;
    width: 80%; 
    height: 10%;
}

.list-group-item{
    margin: auto;
    border: none;
}

like-widget:hover {
    cursor: pointer;
}
.row {
    word-spacing: 2px;
    font-size: 16px;
}