<h3>Discussion Thread: </h3>

<div class="row" style="height: 90%; margin-left: 0.1%;; margin-bottom: 0.5%">
    <div class="col-sm-7">

        <form class="form-horizontal">
            <div class="form-comment">
                <h2>{{model.userId}}</h2>
                <input [(ngModel)]="model.userId" type="text" class="form-control" placeholder="Name" name="name">
                <h2>{{model.content}}</h2>
                <input [(ngModel)]="model.content" type="text" class="form-control" placeholder="Write your opinion!" name="content">
               <button class="btn btn-success pull-right" (click)="commentService.addComment(model)">Post</button>
            </div>
        </form>    
    </div>

    <hr>

    <div *ngFor="let comment of comments">
         <div class="row col-sm-12">
            <div class="list-group">
                <form class="list-group-item">
                    <p class="list-group-item-text"><b>{{comment.userID}} </b></p>
                    <p class="list-group-item-text">{{comment.message}}</p>
                    <p>
                        <i class="glyphicon glyphicon-thumbs-down text-warning" (click)="rate(0)"></i>
                        <i class="glyphicon glyphicon-thumbs-up pull-right text-success" (click)="rate(1)"> {{comment.rating}}</i>
                    </p>
                </form>
            </div>
            <hr>
         </div>
    </div>
</div>



