<h3>Discussion Thread: {{shoutId}}</h3>


<div class="row" style="height: 90%; margin-left: 0.1%;; margin-bottom: 0.5%">
    <div class="col-sm-7">

        <form class="form-horizontal">
            <div class="form-comment">
            <!--<input [(ngModel)]="model.userId" type="text" class="form-control" placeholder="Name" name="username">-->
                <input [(ngModel)]="model.text" type="text" class="form-control" placeholder="Write your opinion!" name="text">
               <button class="btn btn-success pull-right" (click)="addComment(model)">Post</button>
            </div>
        </form>
    </div>

    <hr>

    <div *ngFor="let comment of comments">
         <div class="row col-sm-12">
            <div class="list-group">
                <hr>
                <form class="list-group-item">
                    <p class="list-group-item-text"><b>{{comment.userID}} </b></p>
                    <p class="list-group-item-text">{{comment.message}}</p>
                    <p> Ratings: {{comment.rating}} </p>
                </form>
                <like-widget [id]="comment.shoutID"></like-widget>
            </div>
         </div>
    </div>
</div>
