<div>
    <h3>About Us</h3>
    <div class="resource">
        <h4>Alexander Rivera Rivera</h4>
        <img src="http://lynn.io/jQuery-GitHub-Badge/images/github.svg" width="10%" height="10%"/>
        <p>https://github.com/I-luv-chuletas</p>
        <p>arivepr@outlook.com</p>

    </div>

    <div class="resource">
        <h4>Abdiel Moran Ponce</h4>
        <img src="http://lynn.io/jQuery-GitHub-Badge/images/github.svg" width="10%" height="10%"/>
        <p>https://github.com/abysito93</p>
        <p>abdiel.moran@upr.edu</p>
    </div>

    <div class="resource">
        <h4>Andre Mendez</h4>
        <img src="http://lynn.io/jQuery-GitHub-Badge/images/github.svg" width="10%" height="10%"/>
        <p>https://github.com/WOKER360</p>
        <p>woker360@gmail.com</p>
    </div>
</div>
