<h1>Login</h1>
    <form class="form-horizontal">
          <div class="form-login">
              <input [(ngModel)]="model.userName" type="text" class="form-control" placeholder="Username" name="username" required>
              <input [(ngModel)]="model.password" type="password" class="form-control" placeholder="Password" name="password" required>
             <button class="btn btn-success pull-right" (click)="login(model)">Login</button>
          </div>
    </form>

    <button class="btn btn-link" (click)="revealSignup()">Sign up</button>
    <app-signup *ngIf="signup"></app-signup>
