<div class="header-container">
    <header>
        <h1 class="title">{{title}}</h1>
    </header>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"> <a href=""> Popular Shouts </a> </li>
        <li role="presentation" class="active"> <a href="/archive"> Archive </a></li>
        <li role="presentation" class="active"> <a href="/solutions"> Solutions </a></li>
        <li role="presentation" class="active"> <a href="/shouts"> View Shouts </a></li>
        <li role="presentation" class="active"> <a href="/create-shout"> Make New Shout <i class="glyphicon glyphicon-plus"></i> </a></li>
    </ul>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>

<div class="footer-container">
    <footer>
        <a routerLink="/">Home</a> | <a routerLink="/about" routerLinkActive="active">About</a>
        <span>&copy; 2016</span>
    </footer>
</div>
