<div class="header-container">
    <header>
        <img class="pull-right" src="http://www.upra.edu/images/upra-escudo.gif" width="75px" height="75px"/>
        <h1 class="title">{{title}}</h1>
    </header>

    <ul class="nav nav-tabs">
        <li role="presentation"> <a href=""> Popular Shouts </a> </li>
        <li role="presentation"> <a href="/analytics"> Analytics </a></li>
        <li role="presentation"> <a href="/solutions"> Solutions </a></li>
        <li role="presentation"> <a href="/shouts"> View Shouts </a></li>
         <!--Aqui deberia ir un if para diferenciar cuando hay un usuario conectado y cuando no-->
        <li role="presentation"> <a href="/login"><logout-login-section></logout-login-section></a></li>
        <li role="presentation"> <a href="/create-shout"> Make New Shout <i class="glyphicon glyphicon-plus"></i> </a></li>

    </ul>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>

<div class="footer-container">
    <footer>
        <a routerLink="/">Home</a> | <a routerLink="/about" routerLinkActive="active">About</a>
        <span>&copy; 2016</span>
    </footer>
</div>
