<div class="container">
              <h2>Nueva Petición o Alegato</h2>
              <br>
              <!--body-->
              <div class="row" style="height: 90%; margin-left: 0.1%;; margin-bottom: 0.5%">
                  <div class="col-sm-7">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="titulo-alegato">Asunto</label>
                        <input type="text" class="form-control" placeholder="Asunto del Alegato o Petición" id="titulo-alegato">
                      </div>
                      <div class="form-group">
                        <label for="explicacion-alegato">Elabora</label>
                        <textarea class="form-control" rows="3"  placeholder="Elabora y Explica acerca del Alegato o Petición" id="explicacion-alegato"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="seleccione-destinatario"> Destinatarios del Alegato</label>
                        <select class="form-control" id="seleccione-destinatario">
                            <option value="" disabled selected style="display: none;">Eliga una Oficina...</option>
                            <option>Admisiones</option>
                            <option>Asistencia Economica</option>
                            <option>Archivo General</option>
                            <option>Biblioteca</option>
                            <option>Calidad de Vida</option>
							<option>Centro de Investigacion y Creacion</option>
                            <option>Centro para el Desarrollo de Competencias Linguisticas y de Informatica</option>
                            <option>Centro Tecnologias de Informacion</option>
                            <option>Centro Virtual de Carreras</option>
                            <option>Consejeria y Servicios Psicologicos</option>
							<option>Decanato Academico</option>
                            <option>Decanato Administrativo</option>
                            <option>Decanato Estudiantil</option>
                            <option>Deportes</option>
                            <option>Educacion Continua y Estudios Profesionales (DECEP)</option>
							<option>Exalumnos</option>
                            <option>Finanzas</option>
                            <option>ISMuL</option>
                            <option>Pagaduria</option>
                            <option>Planificacion y Estudios Institucionales</option>
							<option>Presupuesto</option>
                            <option>Procuraduria Estudiantil</option>
                            <option>Programa Calidad de Vida</option>
                            <option>Programa de Estudios de Honor</option>
                            <option>Programa de Intercambio Estudiantil</option>
							<option>Programa de Servicios Educativos (PSE)</option>
                            <option>Proyecto Comunidades de Aprendizaje</option>
                            <option>Recaudaciones</option>
                            <option>Rectoria</option>
                            <option>Recursos Externos</option>
							<option>Recursos Fisicos</option>
                            <option>Recursos Humanos</option>
                            <option>Registraduria</option>
                            <option>Oficina de Servicios a Estudiantes con Impedimentos - OSEI</option>
                            <option>Salud y Seguridad</option>
							<option>Seguridad y Vigilancia</option>
                            <option>Servicios Medicos</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" placeholder="Añade al menos un tag" id="tags">
                      </div>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="subscribirme">
                             Subscribirme a las Respuestas de este algato
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-default pull-right btn-lg">Someter Alegato</button>
                    </form>
                  </div>