<div *ngIf="shout">
    <h3>{{shout.title}}</h3> <blockquote class="pull-right control-group">Rate: {{shout.rating}}</blockquote>
    <div><label>Created by:</label> {{shout.userID}} </div>


    <div class="text-center container">
        {{shout.message}}
    </div>
<div class="buttons pull-right">
    <a href="#"><span class="glyphicon glyphicon-triangle-top vote-up-off"></span></a>
    <a href="#"><span class="glyphicon glyphicon-triangle-bottom vote-down-off"></span></a>
</div>
</div>
<comment-section> </comment-section>
