<div class="container">
<h1>Analytics and Statistics</h1>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group btn-group-lg" role="group">
        <button type="button-lg" class="btn btn-default" (click)="chooseOption(1)" name="uno">Statistics by Department</button>        
    </div>

    <div class="btn-group btn-group-lg" role="group">
        <button type="button-lg" class="btn btn-default" (click)="chooseOption(2)" name="dos">General Statistics</button>
    </div>

    <div class="btn-group btn-group-lg" role="group">
        <button type="button-lg" class="btn btn-default" (click)="chooseOption(3)" name="tres">Statistics by Popularity</button>
    </div>
    
</div>

<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>

<department-analysis *ngIf="selectedOption == 1"></department-analysis>
<shouts-analysis *ngIf="selectedOption == 2"></shouts-analysis>


<!--<table>
    <th>
        <td>Departamento</tr>
        <td>Porcentaje</tr>
    </th>
    <tr>
        <td *ngFor="let dept of departamentos">{{dep}}</td>
    </tr>
    <tr>
        <td *ngFor="let dept of departamentos">0%</td>
    </tr>
</table>-->

<!--<ul>
<li class="item-box" *ngFor="let dept of departamentos">{{dept}} 0%<hr></li>
</ul>-->


</div>
