<div class="container">
<h1>Reports</h1>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group btn-group-lg" role="group">
        <button type="button-lg" class="btn btn-default" (click)="chooseOption(1)" name="uno">Statistics by Department</button>        
    </div>

    <div class="btn-group btn-group-lg" role="group">
        <button type="button-lg" class="btn btn-default" (click)="chooseOption(2)" name="tres">Statistics by Popularity</button>
    </div>
</div>

<department-analysis *ngIf="selectedOption == 1"></department-analysis>
<shouts-analysis *ngIf="selectedOption == 2"></shouts-analysis>

</div>
