<shout-component></shout-component>
<h1>Shouts Populares:</h1>
<div id="shoutDiv" *ngFor="let shout of shouts | orderBy: ['-rating']; let index=index; let odd=odd; let even=even;" (click)="showDetails(shout)"
            class="row" [ngClass]="{ odd: odd, even: even }">
      <div *ngIf="index<6">
            <h4>{{shout.title}}</h4>
            <h5 class="pull-left">{{shout.userID}}</h5><h4 class="pull-right"> {{shout.rating}} </h4>
            <like-widget [id]="shout.id"></like-widget>
      </div>
</div>
